.idea
RibbitReels.Api/bin
RibbitReels.Api/obj
RibbitReels.Data/bin
RibbitReels.Data/obj
RibbitReels.Services/bin
RibbitReels.Services/obj
RibbitReels.IntegrationTests/bin
RibbitReels.IntegrationTests/obj

RibbitReels.UnitTests/bin
RibbitReels.UnitTests/obj




.env